/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {

} */

/* FONT RESET */
html {
    font-family: sans-serif;
}

/* IMG RESET */
img {
    max-width: 100%;
    display: block;
}

/* a RESET */
a {
    text-decoration: none;
    color: white;
}

/* ANCHOR utility classes */




/* ANCHOR WEB APP style */
#web-app {
    height: 100vh;
    border: 3px solid red;
    /* display: flex; */
}

/* ANCHOR HEADER style */
header {
    display: flex;
}

.aside {
    height: calc(100vh - 100px);
    width: 50px;
    border: 2px dashed green;
    position: fixed;
    z-index: 999;
}

.top-bar {
    height: 100px;
    width: calc(100% - 50px);
    /* border: 2px dashed black; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #090b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.top-bar a {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 70%;
}








/* ANCHOR MAIN style */
main {
    background-color: aqua;
    height: calc(100vh - 200px);
    width: calc(100% - 50px);
    position: absolute;
    top: 100px;
    right: 0;


    display: flex;
    justify-content: center;
    align-items: center;
}





/* ANCHOR FOOTER style */
footer {
    height: 100px;
    border: 2px dashed blue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}



/* ANCHOR MEDIA QUERIES */

/* ANCHOR size S min-width: 639px */
@media screen and (min-width: 639px) {
    .aside {
        width: 200px;
    }

    .top-bar {
        width: calc(100% - 200px);
    }

    main {
        width: calc(100% - 200px);
    }
}