/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {

} */

/* FONT RESET */
html {
    font-family: sans-serif;
}

/* IMG RESET */
img {
    max-width: 100%;
    display: block;
}

/* a RESET */
a {
    text-decoration: none;
    color: white;
}

/* ul RESET */
ul {
    list-style-type: none;
}

/* ANCHOR utility classes */




/* ANCHOR WEB APP style */
#web-app {
    height: 100vh;
    /* border: 3px solid red; */
    /* display: flex; */
}

/* ANCHOR HEADER style */
header {
    display: flex;
}

.aside {
    height: calc(100vh - 100px);
    width: 50px;
    /* border: 2px dashed green; */
    position: fixed;
    z-index: 998;
    background-color: #000000;
    padding: 10px;
    color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-bar {
    height: 100px;
    width: calc(100% - 50px);
    /* border: 2px dashed black; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    background-color: rgba(9, 11, 18, 0.99);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.top-bar a {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 70%;
}

.aside .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aside .nav .logo-small {
    width: 100%;
}

.aside .nav .logo {
    display: none;
}

.aside .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.aside .nav ul,
.aside .nav ul li {
    height: 100%;
}

.aside .nav ul li img,
.aside .download-profile img {
    width: 20%;
}

.aside .nav ul li span {
    display: none;
}

.aside > .download-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aside .download-profile img:first-of-type {
    transform: scale(0.7);
}

.aside .download-profile img:last-of-type {
    background-color: grey;
    transform: scale(0.8);
    border-radius: 50%;
    aspect-ratio: 1;
}

/* .nav .playlist {
    display: none;
}

.nav .playlist li {
    font-size: 90%;
}

.nav .playlist li:first-child {
    font-weight: bold;
    color: white;
}

.nav .playlist li > span {
    background-color: lightgray;
    padding: 5px 9px;
} */

/* .nav .playlist li > span i {
    color: #000000;
    font-size: 80%;
} */


/* ANCHOR MAIN style */
main {
    background-color: #141922;
    color: white;
    height: calc(100vh - 200px);
    width: calc(100% - 50px);
    position: absolute;
    top: 100px;
    right: 0;
    padding: 20px;

    overflow: auto;


    /* display: flex;
    justify-content: center;
    align-items: center; */
}

main nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main nav ul li {
    text-transform: uppercase;
    font-size: 12px;
}

main nav ul li a {
    color: rgba(255, 255, 255, 0.5);
}

main nav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

main section {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.discs-played {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px dashed lime;
}

.discs-played .disc {
    width: calc(100% / 2 - 5px);
    text-align: center;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.discs-played .disc .disc-subtitle {
    color: rgba(255, 255, 255, 0.5);
}

.suggestions > span,
.most-popular > span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.most-popular .discs-played .disc figure,
.most-popular .discs-played .disc figure img {
    border-radius: 100%;
}



/* ANCHOR FOOTER style */
footer {
    height: 100px;
    /* border: 2px dashed blue; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #282828;
}
















/* ANCHOR MEDIA QUERIES */

/* ANCHOR size sm min-width: 576px */
@media screen and (min-width: 576px) {

    /* NOTE HEADER */
    .aside {
        width: 200px;
        padding: 20px;
    }

    .aside .nav {
        align-items: flex-start;
    }

    .aside .nav .logo-small {
        display: none;
    }

    .aside .nav .logo {
        display: block;
        width: 70%;
        margin-bottom: 10px;
    }

    .aside .nav ul li {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .aside .nav ul li span {
        display: block;
    }

    .aside .download-profile {
        align-items: flex-start;
    }

    .top-bar {
        width: calc(100% - 200px);
    }


    /* NOTE MAIN */
    main {
        width: calc(100% - 200px);
    }
}








/* ANCHOR size ms min-width: 768px */
@media screen and (min-width: 768px) {
    /* NOTE HEADER */






    /* NOTE MAIN */
    .discs-played .disc {
        width: calc(100% / 4 - (30px / 4));
    }
}







/* ANCHOR size lg min-width: 920px */
@media screen and (min-width: 920px) {
    /* NOTE HEADER */
    
    
    
    
    
    
    
    /* NOTE MAIN */
    .discs-played .disc {
        width: calc(100% / 6 - (50px / 6));
    }
}