/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {

} */

/* FONT RESET */
html {
    font-family: sans-serif;
}

/* IMG RESET */
img {
    max-width: 100%;
    display: block;
}

/* a RESET */
a {
    text-decoration: none;
    color: white;
}

/* ul RESET */
ul {
    list-style-type: none;
}

/* ANCHOR utility classes */




/* ANCHOR WEB APP style */
#web-app {
    height: 100vh;
    /* border: 3px solid red; */
    /* display: flex; */
}

/* ANCHOR HEADER style */
header {
    display: flex;
}

.aside {
    height: calc(100vh - 100px);
    width: 50px;
    /* border: 2px dashed green; */
    position: fixed;
    z-index: 998;
    background-color: #000000;
    padding: 10px;
    color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-bar {
    height: 100px;
    width: calc(100% - 50px);
    /* border: 2px dashed black; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    background-color: #090b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.top-bar a {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 70%;
}

.aside .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aside .nav .logo-small {
    width: 100%;
}

.aside .nav .logo {
    display: none;
}

.aside .nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside .nav ul li i {
    transform: scale(1.4);
}

.aside > div:last-of-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aside > div:last-of-type span:first-child,
.aside > div:last-of-type span:last-child {
    border: 1px solid white;
    border-radius: 100%;
}

.aside > div:last-of-type span:first-child {
    padding: 1px 4px;
    font-size: 70%;
}

.aside > div:last-of-type span:last-child {
    font-size: 110%;
    padding: 2px 5px;
    background-color: grey;
    color: white;
}

.nav ul .library {
    display: flex;
    gap: 5px;
}

.nav ul li > span {
    font-size: 90%;
}

.nav ul .library hr {
    height: 18px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.nav ul .library hr:last-child {
    transform: rotate(-25deg);
    margin-left: 1px;
}

.nav .playlist {
    display: none;
}

.nav .playlist li {
    font-size: 90%;
}

.nav .playlist li:first-child {
    font-weight: bold;
    color: white;
}

.nav .playlist li > span {
    background-color: lightgray;
    padding: 5px 9px;
}

.nav .playlist li > span i {
    color: #000000;
    font-size: 80%;
}


/* ANCHOR MAIN style */
main {
    background-color: aqua;
    height: calc(100vh - 200px);
    width: calc(100% - 50px);
    position: absolute;
    top: 100px;
    right: 0;


    display: flex;
    justify-content: center;
    align-items: center;
}





/* ANCHOR FOOTER style */
footer {
    height: 100px;
    /* border: 2px dashed blue; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #282828;
}
















/* ANCHOR MEDIA QUERIES */

/* ANCHOR size S min-width: 639px */
@media screen and (min-width: 639px) {
    .aside {
        width: 200px;
        padding: 20px;
    }

    .aside .nav {
        align-items: flex-start;
    }

    .aside .nav .logo-small {
        display: none;
    }
    
    .aside .nav .logo {
        display: block;
        /* max-width: 70%; */
        width: 70%;
        margin-bottom: 10px;
    }

    .nav ul li {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .nav ul li > span {
        display: block;
    }

    .nav .playlist {
        display: block;
    }

    .aside > div:last-of-type {
        align-items: flex-start;
    }

    .top-bar {
        width: calc(100% - 200px);
    }

    main {
        width: calc(100% - 200px);
    }
}